# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# automake cache files
/autom4te.cache/

# gedit backup files
*~

# build temp files
/build/

